<title>about</title>
 <style type="text/css">
    #margintop{
    margin-top: 70px;
    }
  </style>
{% extends "store/base.html" %}
{% block content %}
<div id="margintop" class ="p-5">
    <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Orion Cart</h1>
      <p>Orion Cart is a Private Limited, d/b/a Orion is an Estonian e-commerce company based in Tallinn, Estonia. It was founded by Modith Hadya in 2020. The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home essentials & groceries, and lifestyle products. </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Reference</h2>
        <p> Software development Academy </br>Tallinn, Estonia

Akademia SDA OÜ</br> Maakri 19/1, PO box 43, </br>10145 Tallinn</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Modith Hadya</h2>
        <p>Estonia, Tallinn</br>
Email: modith.hadya@gmail.com</br>

LinkedIn: https://www.linkedin.com/in/modith-hadya-leelananda-09425346/</br>
Github: https://github.com/PHNX-MOD/Projects/blob/master/projects.md </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
</div>
{% endblock content %}