{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% block title %}
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Orion store</title>
    {% endif %}
  {% endblock %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'store/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href= "{% static 'store/css/mdb.min.css' %}"  rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{% static 'store/css/style.min.css' %}" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

  </style>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'home' %}" >
        <strong class="blue-text">Orion Cart</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'home' %}">Home <i class="fas fa-home"></i>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'about' %}">About Us<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href=#
              >Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href=# >Sell
              </a>
          </li>
        </ul>

        <!-- Right -->
        {% if user.is_authenticated %}

        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> <span id="cart">0</span> </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block">Cart</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'profile' %}" class="nav-link border border-light rounded waves-effect"
              >
              <i class="fas fa-user-circle"></i>Account:{{user.get_username}}
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link waves-effect" >
              <i class="fas fa-sign-out-alt"></i>Sign out
            </a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item" data-container="body" id="popcart" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
            <a class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> <span id="cart">0</span> </span>
              <i class="fas fa-shopping-cart"></i>
              <span >Cart</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link waves-effect" >
              <i class="fas fa-sign-in-alt"></i> Sign in
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'register' %}" class="nav-link border border-light rounded waves-effect"
              >
              <i class="fas fa-user-circle"></i>Register
            </a>
          </li>
        </ul>
        {% endif %}

      </div>

    </div>
  </nav>
  <!-- Navbar -->

  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </div>


  {% block content %}{% endblock %}

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="{% url 'home' %}"
        role="button">Download catalogue
        <i class="fas fa-download ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href=# >
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href=# >
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href=# >
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href=# >
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href=# >
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href=# >
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href=# >
        <i class="fab fa-github mr-3"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      <a href="{% url 'contact' %}" > contact us </a>
    </div>
    <!--/.Copyright-->


  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src= "{% static 'store/js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'store/js/popper.min.js' %}" ></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'store/js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'store/js/mdb.min.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
  {% block js %} {% endblock %}
</body>

</html>
