.col-md-2 {
	display: inline-block;
	margin-left: 73px;
}

.col-md-2 img {
	width:227px;
	height: 242px;
}

.carousel-indicators .active{
	background-color: rgb(13, 168, 103);
}

body .carousel-indicator li{
	background-color: rgb(185, 183, 32);
}
body .carousel-indicators{
	bottom: 0;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
	background-color: #bdbdbd;
}

.carousel-control-prev,
.carousel-control-next{
	top: auto;
  bottom: auto;
  padding-top: 222px;
}


body .no-padding{
	padding-left:0,
	padding-right:0;
}

#orion {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 37px;
}


.navbar {
    background-color: #07211f ! important;
}

.navbar .navbar-brand {
    color: #b7b9bd;
}


.navbar .navbar-nav li a {
    color: white ! important;
    font-size: 19px;

}

.navbar .nav-item .dropdown-menu .dropdown-item{
    color:black  ! important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    color: white  ! important;
    background-color:black;
    opacity:0.8;
}

.navbar-toggler {
    background-color:#01526b;
}
.dropdown .dropdown-item{
   color:#383d38  ! important;
}
