 <style type="text/css">
    #margintop{
    margin-top: 100px;
    margin-left:500px;
    margin-right:500px;
    }
  </style>
{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div id="margintop" class="content-section">
    <form method= "POST">
      {% csrf_token %}
      <fieldset class = "form-group">
        <legend class = "border-bottom mb-4">Login</Legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class= "btn btn-outline-info" type="submit">Login</button>
      </div>
    </form>
    <div class = "border-top pt-3">
      <small class="text-muted">
        Need an Account <a class="ml-2" href="{% url 'register' %}">Sign Up </a>
      </small>
      <small class="text-muted"><a class="ml-2" href= "{% url 'password_reset' %}" >Lost password?</a></p></small>
    </div>
  </div>
{% endblock content %}
