 <style type="text/css">
    #margintop{
    margin-top: 120px;
    margin-left:100px;
    margin-right:100px;
    }
  </style>

{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <div id="margintop" class="container">
	<div class="row">
		<div class="col-md-3">
            <div class="content-section">
              <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
		    </div>
            </div>
        </div>
		<div class="col-md-5">
            </br>
            </br>
            <legend class = "border-bottom mb-4">Profile Details</Legend>
            <div class="container-fluid">
               <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Username
                    <span ><button type="button" class="btn btn-light">{{ user.username }}</button></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Email
                    <span><button type="button" class="btn btn-light">{{ user.email }}</button></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span><a class="text-muted"><a class="ml-2" href= "{% url 'password_reset' %}" >Reset Password Here</a></p></a></span>
                  </li>
                </ul>
            </div>
		</div>
		<div class="col-md-4">
            <form method= "POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Update Profile</Legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
              </fieldset>
              <div class="form-group">
                <button class= "btn btn-outline-info" type="submit">Update</button>
              </div>
            </form>
		</div>
	</div>
 </div>
{% endblock content %}